.vscode
.env
volumes
__pycache__
*.excalidraw
dist
common.egg-info
.venv
.env.development
venv/
READMEP.md
tmp
gcp_credentials.json
.favorites.json
.DS_Store

mcp-stdio-http-bridge/target/
mcp-stdio-http-bridge/dist/
