[MESSAGES CONTROL]
enable=abstract-method

[DESIGN]
max-args=10
max-locals=15
max-returns=6
max-branches=12
max-statements=50

[BASIC]
good-names=i,j,k,ex,Run,_,id,db,ai,llm

[IMPORTS]
extension-pkg-allow-list=chunker_cpp

[IGNORE]
C0103