name: Staging

on:
    push:
        branches:
            - staging

jobs:
    build-and-release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with: { fetch-depth: 0 }
            - uses: actions/setup-node@v4
            - run: "[ NOT IMPLEMENTED YET ]"
